<div class="govuk-panel govuk-panel--confirmation" data-block-id="<%= @page.id %>" data-block-property="heading" data-block-property-class="govuk-panel__body:lede">
  <h1 class="fb-editable govuk-panel__title"
      data-fb-content-type="element"
      data-fb-content-id="page[heading]">
    <%= @page.heading %>
  </h1>

  <%= render 'metadata_presenter/attribute/lede' %>
</div>

<% if @page.body %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="fb-editable fb-body govuk-prose-scope"
           data-fb-content-type="content"
           data-fb-content-id="page[body]">
        <%= @page.body %>
      </div>
    </div>
  </div>
<% end %>
