<div class="fb-main-grid-wrapper" data-block-id="" data-block-type="start_page" data-block-pagetype="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_tag(reserved_answers_path(@page.url), method: :post) do  %>
        <% @page.components.each do |component| %>
          <%= render partial: component, locals: { component: component } %>
        <% end %>

        <button data-prevent-double-click="true" class="fb-block fb-block-actions govuk-button" data-module="govuk-button" data-block-id="actions" data-block-type="actions">
          Continue
        </button>
      <% end %>
    </div>
  </div>
</div>
