<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @maintenance_page[:heading] %></h1>
    <div class="maintenance-content">
      <%= to_html @maintenance_page[:content] %>
    </div>
  </div>
</div>
