<%=
  f.govuk_email_field component.id.to_sym,
    label: { text: input_title },
    hint: {
      data: { "fb-default-text" => default_text('hint') },
      text: component.hint
    },
    name: "answers[#{component.name}]",
    spellcheck: "false",
    autocomplete: "email"
%>

<% if is_confirmation_email_question? %>
  <div class ="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <%= I18n.t('presenter.confirmation.email_disclaimer_email_question') %>
    </strong>
  </div>
<%end%>
