<div class="fb-main-grid-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 id="page-heading" class="govuk-heading-xl"><%= t('presenter.save_and_return.resume.errors.generic_problem.heading') %></h1>
    <p><%= t('presenter.save_and_return.resume.errors.generic_problem.info_1') %></p>
    <p><%= t('presenter.save_and_return.resume.errors.generic_problem.info_2') %></p>
    <%= render partial: 'metadata_presenter/shared/start_again_button' %>
    </div>
  </div>
</div>
