<h2 class="govuk-visually-hidden">Support links</h2>

<ul class="govuk-footer__inline-list">
<% meta_items.each do |item| %>
  <li class="govuk-footer__inline-list-item">
    <a class="govuk-footer__link" href=<%= item.href %>><%= item.text %></a>
  </li>
<% end %>
</ul>
