<div class="govuk-warning-text govuk-timeout-warning-fallback">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    <%= t('presenter.session_timeout_warning.timer_fallback', expiry_time: timeout_fallback(session_expiry_time)) %>
  </strong>
</div>
