<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('presenter.session_destroyed.title') %></h1>
    <div class="maintenance-content">
      <%= to_html t('presenter.session_destroyed.content') %>
    </div>
  </div>
</div>
