<% if @page.body %>
  <div class="fb-editable"
        data-fb-content-id="page[body]"
        data-fb-content-type="content"
        data-fb-default-text="<%= default_text('body') %>">
    <%= to_html(@page.body) %>
  </div>
<%- end %>
