<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    <%= I18n.t('presenter.external_start_page_info.important') %>
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">
    <%= I18n.t('presenter.external_start_page_info.content', href: govuk_link_to(I18n.t('presenter.external_start_page_info.link_text'), 'https://moj-forms.service.justice.gov.uk/building-and-editing/#start-page')).html_safe %>
  </p>
</div>
</div>