<h1 class="fb-editable govuk-heading-xl"
    data-fb-content-id="page[heading]"
    data-fb-content-type="element"
    data-fb-default-value="<%= default_page_title(@page.type) %>">
  <%= @page.heading %>
</h1>

