<% if @page.lede %>
  <div class="fb-editable govuk-body-l"
        data-fb-content-id="page[lede]"
        data-fb-content-type="element"
        data-fb-default-text="<%= default_text('lede') %>">
      <%= @page.lede %>
  </div>
<%- end %>
