<div class="govuk-button-group">
  <button id="hide-cookie-banner" class="govuk-button" data-module="govuk-button" data-cookie-banner-element="hide-button">
    <%= t('presenter.analytics.hide') %>
  </button>
</div>

